.StarsDisplay {
    display: flex;
    flex-direction: row;
    flex: 3 0 auto;
    height: 80%;
    width: 33.333%;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    border-style: groove;
    margin: 20px;
}

.title {
    margin-left: 20px;
    margin-right: 20px;
}