.button {
    position: relative;
    display: inline-block;
    margin: auto;
    background-color: #3F51B5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 6vmin;
    height: 6vmin;
}

.innerButton {
    position: absolute;
    border-radius: 50%;
    width: 3vmin;
    height: 3vmin;
    right: -10px;
    top: -10px;
}

.button:not(.disabled):hover{
    background-color: #4558ea;
}

.button.disabled {
    background-color: gray;
}