.Game {
  display: flex;
  flex-direction: column;
  flex: 1;

  .first-row {
    display: flex;
    flex-direction: row;
    height: 15vh;

    @media only screen and (max-width: 800px) {
      height: 40vh;
      width: auto;
    }
  }

  .second-row {
    display: flex;
    flex-direction: row;
    height: 12vh;

    @media only screen and (max-width: 800px) {
      height: 25vh;

    }
  }

  .third-row {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    height: 15vh;
  }
}


