.Game {
    display: flex;
    flex-direction: column;
}

.first-row {
    display: flex;
    flex-direction: row;
    height: 150px;
}

.second-row {
  display: flex;
  flex-direction: row;
  height: 100px;
}

